// bower:scss
// endbower

// https://color.adobe.com/1944mustang-color-theme-4817/
$color-background: #263248;
$color-border: #000000;
$color-emphasis: #FF9800;
$color-main: #7E8AA2;

$sidebar-speed: 0.5s;
$sidebar-width: 15rem;


@import "layout";
@import "typography";
@import "components/button";
@import "components/main";
@import "components/movie-suggestions";
@import "components/side-list";